# Discord OAuth configuration
CLIENT_ID=your_discord_client_id
CLIENT_SECRET=your_discord_client_secret

# PostgreSQL (Realese Build)
# DATABASE_HOST=
# DATABASE_PORT=
# DATABASE_NAME=
# DATABASE_USER=
# DATABASE_PASSWORD=
